<% if @c && @c.errors %>
    <% @c.errors.full_messages.each do |msg| %>
        <div class="warning"> 
          <p><strong><%= msg %></strong></p>
        </div>
    <% end %>
<% end %>

<h2>Create a new Character</h2>
<form action="/characters" method="post">
  <label>Name</label>
  <input type="text" name="name" value="<%= @c ? @c.name : "" %>"><br><br>
  <label for="class-select">Class</label>
  <select name= "character_class" id="class-select">
      <option value="">--Please choose class--</option>
      <option value="Warrior">Warrior</option>
      <option value="Paladin">Paladin</option>
      <option value="Hunter">Hunter</option>
      <option value="Rogue">Rogue</option>
      <option value="Priest">Priest</option>
      <option value="Death Knight">Death Knight</option>
      <option value="Shaman">Shaman</option>
      <option value="Mage">Mage</option>
      <option value="Warlock">Warlock</option>
      <option value="Monk">Monk</option>
      <option value="Druid">Druid</option>
      <option value="Demon Hunter">Demon Hunter</option>
  
  </select>
  <br><br>
 
  <label for="race-select">Race</label>
  <select name="race" id="race-select">
   
      <option value="">--Please choose race--</option>
      <option value="Human">Human</option>
      <option value="Dwarf">Dwarf</option>
      <option value="Night Elf">Night Elf</option>
      <option value="Gnome">Gnome</option>
      <option value="Draenei">Draenei</option>
      <option value="Worgen">Worgen</option>
      <option value="Pandaren">Pandaren</option>
      <option value="Orc">Orc</option>
      <option value="Undead">Undead</option>
      <option value="Tauren">Tauren</option>
      <option value="Troll">Troll</option>
      <option value="Blood Elf">Blood Elf</option>
      <option value="Goblin">Goblin</option>
      
  </select>
  <br><br>
  <input type="submit">
  <br><br>
 
  <a href="/logout"><button>Log Out</button></a><br>
 
</form>