<h2>Create New Character</h2>
<form action="/characters" method="post">
  <label>Name:</label>
  <input type="text" name="name"><br><br>
  <label>Class:</label>
  <input type="text" name="character_class"><br><br>
  <label>Race:</label>
  <input type="text" name="race"><br><br>
  <input type="submit"><br>
  <br>
  <a href="/logout"><button>Log Out</button></a><br>
</form>