<h1>Welcome to World of Worldcraft</h1>

<%  if Helpers.is_logged_in?(session) %>
  <a href="/logout">Log Out</a><br>
<%  else %>
  <a href="/login">Log In</a><br><br>
  <a href="/signup">Sign Up</a><br>
<%  end %>

